/*RESPONSIVE DESIGN*/
@media screen and (max-width:2560px){.Logotipo{width: 27%;},.CabMas{height: 365px;},.CabMas{margin: 30px auto 0px auto;display: flex;flex-wrap: nowrap;justify-content: center;align-items: center;}}
@media screen and (max-width:2560px){.Logotipo{width: 27%;},.CabMas{height: 365px;,min-height: 365px;}}
@media screen and (max-width:1500px){.Logotipo{width: 27%;}}
@media screen and (max-width:1440px){.CabMas{height: 250px;},.Logotipo{width: 27%;},.CabMas{background-size: 100%;min-height: 243px;,height: 243px;background-size: cover;height: 240px;}}
@media screen and (max-width:1024px){.CabMas{height: 190px;},.nota{margin: 170px 100px;},.ImgEli{width: 60%;},.Logotipo{width: 27%;},.CabMas{height: 185px;}}
@media screen and (max-width:768px){.CabMas {height: 140px;},.nota{margin: 170px 70px;}}

@media screen and (max-width:480px){.linkcabezal{margin-top: -26px;},
.CabMas{height: 75px;height:140px;background-image: none;background-color: #e95126;}
}

@media screen and (max-width:425px){.Logotipo{width: 60%;margin: 0px 15%;},.ImgEli{width: 100%;},
.CabMas{height: 75px;height:140px;background-image: none;background-color: #e95126;},
.Cont{padding-top: 20px;}.ConLef{width: 74%;},.ConRig {width: 100%;}}

@media screen and (max-width:375px){.ImgEli{width: 100%;},
.CabMas{background-image: none;height: 185px;background-color: #e95126;padding-left: 10px;},
.Logotipo{width: 95%;},
.ImgEli{width: 100%;margin-top: 50px;}
}

@media screen and (max-width:320px){
    .nota{margin: 170px 60px;}
    .ImgEli{width: 100%;margin-top: 50px;}
    .CabMas{background-image: none;background-color: #e95126;}
    .Logotipo{width: 80%;margin: 0 7%;}
}