@charset "UTF-8";
@font-face {
  font-family: 'arial-narrow';
  src: url('../Fonts/arial-narrow.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

*{text-align: 0;text-decoration: none;font-family: 'Open Sans';float: left;}
body{width: 100%;padding: 0px 0px;float: left;background-image:url("../img/fondodogorange.jpeg");}

.main{width: 100%;}

section{float: left;}

.CabMas{width: 100%;background-color: white;float: left;background-image: url("../img/LineaMascotas.png");}

.TxtCabMas{width: 100%;height: 230px;}

.linkcabezal{margin-left: 10%;padding-left: 265px;float: right;padding-right: 10px;}
.Logotipo{width: 50%;margin-bottom: 12px;float: right;padding-top: 20px;}

.Franja{width: 100%; background-image: url(../img/Franja.png);}
.Telf{float: left;margin-top: 40px;margin-bottom: 24px;}
.Cont{width: 100%;padding-top: 50px;padding-bottom: 100px; background-color: #cbdec8;}
.ConLef{float: left;width: 50%;}
.ConRig{float: right;width: 50%;}
.Mueble{max-width: 300px;float: right;display: block;width: 50%;float: right;margin-right: 40px;margin-bottom: 20px;}
/*.ImgElige{float:right;display: block;}*/
.ImgEli{width: 50%;margin-top: 250px;;margin-right: 50px;float: right;display: block;}
.Not1,.Not2{float: left; width: 100px;height: 350px;inline-size: inherit;margin: 50px 30%;background-color: #FFF;border-radius: 15px;}




