@charset "UTF-8";
@font-face {
  font-family: 'arial-narrow';
  src: url('../Fonts/arial-narrow.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

*{text-align: 0;text-decoration: none;font-family: 'Open Sans';float: left;}
body{width: 100%;padding: 0px 0px;float: left;background-image:url("../img/fondodogorange.jpeg");}

.main{width: 100%;}

section{float: left;}

.CabMas{width: 100%;background-color: white;float: left;background-image: url("../img/LineaMascotas.png");}

.TxtCabMas{width: 100%;height: 230px;}

.linkcabezal{margin-left: 10%;padding-left: 265px;float: right;padding-right: 10px;}
.Logotipo{width: 47%;margin-bottom: 28px;float: right;padding-top: 20px;}

.Franja{width: 100%; background-image: url(../img/Franja.png);}
.Telf{float: left;margin-top: 40px;margin-bottom: 24px;}
.Cont{width: 100%;height: 600px;background-color: #cbdec8;}




