@charset "UTF-8";
@font-face {
  font-family: 'arial-narrow';
  src: url('../Fonts/arial-narrow.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

*{text-align: 0;text-decoration: none;font-family: 'Open Sans';float: left;}
body{width: 100%;padding: 0px 0px;float: left;background-image:url("../img/fondodogorange.jpeg");}

section{float: left;}

.CabMas{width: 100%;background-color: white;float: left;background-image: url("../img/LineaMascotas.svg");}

.TxtCabMas{width: 100%;height: 230px;}




